<h1>  Students Information </h1>

<div class= "row">


  <div class="col-sm-6">
    <label for="Schools" class="col-sm-2 col-form-label"> Schools</label>
    <%= select_tag "schools", options_from_collection_for_select(@schools, "id", "name"),class: "form-control", include_blank: true %>
  </div>
   
  <div class="col-sm-6" id="branches_id" >
    <label for="Branches" class="col-sm-2 col-form-label"> Branches</label>
    <%= select_tag "branches", raw("<option></option>"),class: "form-control", include_blank: true %> 
  </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <br>
  <div class="col-sm-6" id="standards_id"  >
    <label for="Standards" class="col-sm-2 col-form-label"> Standards</label>
    <%= select_tag "standards", raw("<option></option>"),class: "form-control", include_blank: true %> 
  </div>
  
  <div class="col-sm-6" id="teachers_id">
    <label for="Teachers" class="col-sm-2 col-form-label"> Teachers</label>
    <%= select_tag "teachers", raw("<option></option>"),class: "form-control", include_blank: true %> 
  </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <br>
  <div class="col-sm-6" id="students_id">
    <label for="Students" class="col-sm-2 col-form-label"> Students</label>
    <%= select_tag "students", raw("<option></option>"),class: "form-control", include_blank: true %> 
  </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <br>

  <div class="col-sm-12" id="student_info">
    <h1> Student Details </h1>
    <p> Name: <span class="stu_name"> </span></p>
    <p> Age: <span class="stu_age"> </span></p>
    <p> Gender: <span class="stu_gender"> </span></p>
    </div>
  
  </div>